@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

html,
body {
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;
    height: 100vh;
}

* {
    box-sizing: border-box;
}

.pfp {
    border-radius: 100%;
    border: 0.3em solid #ffffff;
    width: 9em;
    height: 9em;
}

.topmenu {
    border: 0.1em solid black;
    color: #000000;
    display: flex;
    flex-direction: row;
}

.topmenu h1 {
    border: 0.1em solid black;
    color: blue;
    height: 1em;
}

.topmenusub {
    width: 100%;
    justify-content: space-between;
    border: 0.1em solid black;
    flex-direction: column;
}

.topmenulinkcluster {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.topmenulink {
    font-size: 1.5em;
    border: 0.1em solid black;
    size: 3em;
    color: #000000;
    transition: color 0.3s;
}

.topmenulink:hover {
    color: #ff0000
}

.canvas {
    color: #000000;
    background-color: blanchedalmond;
    padding: 1em 1em 1em 1em;
    box-shadow: 0.3em 0.3em 0.1em #888888;
}

.canvas p {
    font-size: 1.2em;
    line-height: 1.4em;
}

.container {
    border: 0.1em solid black;
    width: 50em;
    margin: auto auto;
}

.nograd {
	background: white;
    height: 100%;
    width: 100%;
    display: flex;
}

.bgcover {
    background: linear-gradient(transparent 14%, 25%, #eeeeee 26%);
    padding: 1em 1em;
    height: inherit;
}

.clearday {
    background: rgb(255,248,149);
    background: radial-gradient(circle, rgba(255,248,149,1) 1%, rgba(248,252,188,1) 2%, rgba(145,224,255,1) 10%, rgba(42,195,255,1) 82%);
    background-size: 370% 370%;
    animation: gradient 5s ease 1;
    animation-fill-mode: forwards;
    height: 100vh;
}

@keyframes gradient {
    0% {
        background-position: 100% 30%
    }
    100% {
        background-position: 30% 70%;
    }
}

.clearnight {
    background: rgb(240,229,180);
    background: radial-gradient(circle, rgba(240,229,180,1) 1%, rgba(64,65,85,1) 1.2%, rgba(16,0,34,1) 92%);
    background-size: 370% 370%;
    animation: gradient 5s ease 1;
    animation-fill-mode: forwards;
}

.clearsrise {
    background: rgb(238,174,202);
    background: linear-gradient(0deg, rgba(238,174,202,1) 13%, rgba(129,182,232,1) 73%);
}

.clearsset {
    background: rgb(255,169,76);
    background: linear-gradient(0deg, rgba(255,169,76,1) 20%, rgba(15,126,231,1) 80%);
}

.cloudsday {
    background: rgb(137,164,176);
    background: linear-gradient(0deg, rgba(137,164,176,1) 0%, rgba(159,178,185,1) 58%, rgba(169,184,190,1) 61%, rgba(208,208,208,1) 100%);
}

.cloudsnight {
    background: rgb(16,0,34);
    background: linear-gradient(0deg, rgba(16,0,34,1) 31%, rgba(36,26,47,1) 58%, rgba(66,66,66,1) 89%);
}